@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #8a817c;
  --color-primary-hover: #756d68;
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-muted: #d7d4d1;
  --color-accent: #c2b9b2;
  --color-dark: #2e2e2e;
  --color-dark-muted: #666666;
  --color-border: #e2e2e2;

  --font-sora: "Sora", sans-serif;
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply bg-background text-dark font-sora;
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-8;
}
